
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ67Z3dRq2PMGBM_eWlsGaItiHoCfIVz4X7zCsltdXtAN1VWuhW&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10mm;
  
}
video {
  width: 100%;
  height: auto;
}
h1
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
   animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {color: rgb(255, 123, 0);}

}
h3
   {
     color: maroon;
     text-align: justify;
   font-family: cursive;
     padding: 20px;
  }

h5{
  color: chocolate;
}
p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color:rgb(200, 255, 0);
}


@keyframes example {
  0%   { left:0px; top:0 px;}
  25%  { left:80px; top:0 px;}

}

#card{
  padding: 20px;
  box-shadow:bisque;
}


.footer{
    background-color: rgba(0, 0, 0, 0.37);
    color:blue;
    padding: 20px;
    align-items: stretch;
    text-align: center;
  } 

 