
h1
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
   animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {color: rgb(255, 123, 0);}

}
h4
{
text-align: justify;
font-family: cursive;
padding: 20px;
}

h5{
  color: chocolate;
}
p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color:rgb(200, 255, 0);
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:80px; top:0px;}

}

#card{
  padding: 20px;
  box-shadow:bisque;
}

#content{
    background-image: url("https://lh3.googleusercontent.com/proxy/Vp498epqXNrTZEF4CW8pl7CR7pEfnwCyh7cIQU6ejjEAbnFWtfAlnoOk0iR4GQAktJ1Py6wS5JdZYX6ZQeP2_gUJC09rRPbObrAY6j9xFk6hTGDfzK14uqNb95tvQbO6bGi5T5P5AcgHxEVlra5nZW6QUneebPNtQkCJUoDS");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10mm;
    margin-top: 0cm;
  
    
}
.header-down-arrow {
  position: absolute;
    bottom: 3vh;
    left: 0;
    right: 0;
  text-align: center;
  z-index: 10;
  animation: fade-slide-down 2s 2s ease-out backwards,pulse 4s 3s ease-out infinite;
  opacity: 0;

}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
         0% {
      opacity: 1;
      transform: none;
           }
    50% {
      opacity: .8;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }



